.projects {
  margin-top: 40px;
  display: flex;
  overflow: visible;
}

.projectsTitle {
  position: sticky;
  position: -webkit-sticky;
  width: 20%;
  top: 40px;
  font-size: 2.25rem;
  height: 100%;
}
.projectsList {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  perspective: 900px;
  .projectCard {
    &:hover {
      img {
        scale: 0.8;
      }
    }
    width: 100%;
    .img {
      width: 100%;
      aspect-ratio: auto 1 / 1;
      background-color: antiquewhite;
      border-radius: 8px;
      object-fit: cover;
    }

    h4 {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      .title {
        font-size: 1rem;
      }
      .date {
        font-size: 0.9375rem;
      }
    }
  }
}
