@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.mainTitle {
  text-align: right;
  font-size: 3.375rem;
  line-height: 110%;
  word-break: break-word;
  word-break: keep-all;
}

.subTitle {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 120%;
  word-break: break-word;

  span {
    font-size: 1.25rem;
    color: rgba($color: #fff, $alpha: 0.5);
  }
}

.moveName {
  font-family: "Mungyeong-Gamhong-Apple";
  text-transform: uppercase;
  font-size: large;
  display: flex;

  div {
    font-size: clamp(1rem, 10vw, 10rem);
    width: 100%;
    text-align: center;
    flex-grow: 1;
  }
}

.summary {
  line-height: 160%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba($color: #373737, $alpha: 0.4);
  border-radius: 8px;
  padding: 20px 40px;

  .fromDesigner {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .slogan {
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 1.5rem;
  }

  .toDeveloper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .caption {
    align-self: end;
    grid-row: 3 / 3;
    grid-column: 1 / 3;
  }
}